@charset "utf-8";
._55w7 {
    background-color: #f2f2f2;
    font-size: 10px;
    line-height: 1.2
    }
._55w7._3u2f {
    background-color: #fff
    }
._55w7._3u2f ._3nhp {
    visibility: visible
    }
._55w7, ._55w7 td {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial, Helvetica, sans-serif
    }
._5o2r {
    min-width: 924px
    }
._55w7 ._3nhp {
    top: 100px
    }
@font-face {
    font-family: "Freight Sans";
    font-style: normal;
    font-weight: 300;
    src: url(/rsrc.php/yR/r/ZrU4HRM4Ggh.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/rsrc.php/yL/r/MyQM0dgkFKf.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: normal;
    font-weight: 500;
    src: url(/rsrc.php/yS/r/djOb8sxl7Vq.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: normal;
    font-weight: 600;
    src: url(/rsrc.php/yn/r/lPvUQPp1vwx.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/rsrc.php/yc/r/X1plD6LY5UI.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: normal;
    font-weight: 900;
    src: url(/rsrc.php/yT/r/fP9VuBa0Pob.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 300;
    src: url(/rsrc.php/yo/r/RvwAzK6Z63X.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 400;
    src: url(/rsrc.php/yy/r/BhgNmSeanJb.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 500;
    src: url(/rsrc.php/yD/r/7PxAKi892fI.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 600;
    src: url(/rsrc.php/y0/r/4aN3-pkJVve.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 700;
    src: url(/rsrc.php/yy/r/ji6UPpyRFDi.woff)
    }
@font-face {
    font-family: "Freight Sans";
    font-style: italic;
    font-weight: 900;
    src: url(/rsrc.php/y1/r/c1rQZ1EtI65.woff)
    }
@font-face {
    font-family: "Graphik LCG Web";
    font-style: normal;
    font-weight: 700;
    src: url(/rsrc.php/y-/r/LFlcBHr6o_Q.woff2) format("woff2"), url(/rsrc.php/ym/r/Z9IDdhxcfGM.woff) format("woff")
    }
@font-face {
    font-family: "Graphik LCG Web";
    font-style: italic;
    font-weight: 600;
    src: url(/rsrc.php/y5/r/40F5g7Dl2u1.woff2) format("woff2"), url(/rsrc.php/yi/r/Og7MAG1Wvkf.woff) format("woff")
    }
@font-face {
    font-family: "Graphik LCG Web";
    font-style: normal;
    font-weight: 600;
    src: url(/rsrc.php/yY/r/rruorhHDo6X.woff2) format("woff2"), url(/rsrc.php/y0/r/ALlUqO7-O1g.woff) format("woff")
    }
@font-face {
    font-family: "Graphik LCG Web";
    font-style: normal;
    font-weight: 500;
    src: url(/rsrc.php/yF/r/rj0HKQ19-Qv.woff2) format("woff2"), url(/rsrc.php/yG/r/XMkn-9LDUYt.woff) format("woff")
    }
@font-face {
    font-family: "Graphik LCG Web";
    font-style: italic;
    font-weight: 400;
    src: url(/rsrc.php/yu/r/xsdg-dOacA7.woff2) format("woff2"), url(/rsrc.php/y0/r/s_FmZ3T05TZ.woff) format("woff")
    }
@font-face {
    font-family: "Graphik LCG Web";
    font-style: normal;
    font-weight: 400;
    src: url(/rsrc.php/yU/r/eZPvDCjv1St.woff2) format("woff2"), url(/rsrc.php/yO/r/FfMd5UrgKsI.woff) format("woff")
    }
@font-face {
    font-family: "Graphik Arabic Web Bold";
    font-style: normal;
    font-weight: 700;
    src: url(/rsrc.php/yt/r/sMsSh8desF7.woff2) format("woff2"), url(/rsrc.php/yy/r/Ui4vsZf3z8f.woff) format("woff")
    }
@font-face {
    font-family: "Graphik Arabic Web Semibold";
    font-style: normal;
    font-weight: 600;
    src: url(/rsrc.php/yo/r/d2-DkeeaN4A.woff2) format("woff2"), url(/rsrc.php/ym/r/eWJ9Zh5bRJ2.woff) format("woff")
    }
@font-face {
    font-family: "Graphik Arabic Web Semibold";
    font-style: normal;
    font-weight: 500;
    src: url(/rsrc.php/yc/r/Yah-59qU45Q.woff2) format("woff2"), url(/rsrc.php/yJ/r/h5sRFxyeSiD.woff) format("woff")
    }
@font-face {
    font-family: "Graphik Arabic Web Regular";
    font-style: normal;
    font-weight: 400;
    src: url(/rsrc.php/yh/r/JWsKwoCvuDT.woff2) format("woff2"), url(/rsrc.php/yq/r/0AYgBPb3MzO.woff) format("woff")
    }
@font-face {
    font-family: "Facebook Reader";
    font-style: normal;
    font-weight: 400;
    src: url(/rsrc.php/ym/r/o4ulUuqwXko.woff2) format("woff2"), url(/rsrc.php/yO/r/J4guX2F910Y.woff) format("woff"), url(/rsrc.php/y1/r/mm6bezn5sKS.ttf) format("truetype"), url(/rsrc.php/yq/r/-5pyQa2ODr5.otf) format("opentype"), url(/rsrc.php/y-/r/PzsAl9L-YFB.eot) format("embedded-opentype")
    }
@font-face {
    font-family: "Facebook Reader";
    font-style: normal;
    font-weight: 500;
    src: url(/rsrc.php/y2/r/2g86fr3cVia.woff2) format("woff2"), url(/rsrc.php/yc/r/K6e2eFabRxY.woff) format("woff"), url(/rsrc.php/yY/r/m9D8St7DKQm.ttf) format("truetype"), url(/rsrc.php/yB/r/MqvNhdXFl-8.otf) format("opentype"), url(/rsrc.php/yj/r/iuG7NN28162.eot) format("embedded-opentype")
    }
@font-face {
    font-family: "Facebook Reader";
    font-style: normal;
    font-weight: 700;
    src: url(/rsrc.php/y6/r/6gttF58SJbH.woff2) format("woff2"), url(/rsrc.php/ys/r/b6V9wxTXW6F.woff) format("woff"), url(/rsrc.php/ym/r/fiHFH5TsWUx.ttf) format("truetype"), url(/rsrc.php/yS/r/40wks2MlziC.otf) format("opentype"), url(/rsrc.php/yt/r/nwSJhNp9gcw.eot) format("embedded-opentype")
    }
@font-face {
    font-family: "Optimistic Text";
    font-style: normal;
    font-weight: 300;
    src: url(/rsrc.php/yw/r/jSJ0UfPtb1n.woff2) format("woff2"), url(/rsrc.php/yd/r/iw0wdr8r7Dj.woff) format("woff"), url(/rsrc.php/yR/r/-yU75yEG-0Z.eot) format("embedded-opentype")
    }
@font-face {
    font-family: "Optimistic Text";
    font-style: normal;
    font-weight: normal;
    src: url(/rsrc.php/y1/r/WTmi-IDr3ab.woff2) format("woff2"), url(/rsrc.php/yH/r/BBP6gdkpcOx.woff) format("woff"), url(/rsrc.php/yj/r/288e4RAbLzH.eot) format("embedded-opentype")
    }
@font-face {
    font-family: "Optimistic Text";
    font-style: normal;
    font-weight: 700;
    src: url(/rsrc.php/yv/r/l9LAwPHqWI_.woff2) format("woff2"), url(/rsrc.php/yp/r/ZFUg6fj5cNZ.woff) format("woff"), url(/rsrc.php/yz/r/N5hsIkWd7S6.eot) format("embedded-opentype")
    }
@font-face {
    font-family: "Optimistic Display";
    font-style: normal;
    font-weight: 500;
    src: url(/rsrc.php/yl/r/9cboBe_TxI_.woff2) format("woff2"), url(/rsrc.php/ym/r/riSxlY1HnAe.woff) format("woff")
    }
._57yz {
    border: 1px solid #dadde1;
    border-radius: 4px;
    color: #4b4f56;
    display: flex;
    font: 14px/18px -apple-system, BlinkMacSystemFont, Roboto, Arial, Helvetica, sans-serif;
    justify-content: space-between;
    line-height: 20px;
    overflow: hidden;
    padding-left: 44px
    }
._8xdi ._57yz {
    font-family: inherit
    }
._2sei {
    background: #fff;
    border-radius: 0 3px 3px 0;
    padding: 12px
    }
._57y- {
    background: #fff;
    flex-grow: 1;
    padding: 14px
    }
._57yz ._57y- p {
    margin-bottom: 1em;
    margin-top: 0
    }
._57yz ._57y- p:first-child {
    margin-top: 0
    }
._57yz ._57y- p:last-child {
    margin-bottom: 0
    }
._57yz ._6kjg {
    margin-right: 12px
    }
._57yz ._6kjh {
    align-items: center;
    color: #4b4f56;
    display: flex
    }
._57yz ._6kjh:hover {
    text-decoration: none
    }
._57y_ {
    background: #fa3e3e url(/rsrc.php/v3/yP/r/YfaQvQI3MJp.png) no-repeat 13px 13px;
    background-position: left 13px top 13px;
    background-size: 18px 18px
    }
._5s-k {
    background: #42b72a url(/rsrc.php/v3/y-/r/fgWqn8vKsub.png) no-repeat 13px 13px;
    background-position: left 13px top 13px;
    background-size: 18px 18px;
    border: 1px solid #e9ebee
    }
._57z0 {
    background: #e9ebee url(/rsrc.php/v3/y0/r/QjB9SjWn3pR.png) no-repeat 13px 13px;
    background-position: left 13px top 13px;
    background-size: 18px 18px
    }
._57z1 {
    background: #3578E5 url(/rsrc.php/v3/yp/r/DjVNWJk9OUi.png) no-repeat 13px 13px;
    background-position: left 13px top 13px;
    background-size: 18px 18px
    }
._7_72 {
    background: #F7923B url(/rsrc.php/v3/yp/r/DjVNWJk9OUi.png) no-repeat 13px 13px;
    background-position: left 13px top 13px;
    background-size: 18px 18px
    }
._57yz li {
    margin-left: 14px
    }
._57y- > div {
    margin-bottom: 12px
    }
._57y- > div:last-child {
    margin-bottom: 0
    }
._8xnp {
    display: block;
    height: 100%
    }
.fixed_elem, .fixed_always {
    position: fixed !important
    }
.tinyHeight .fixed_elem {
    position: static !important
    }
.chrome .fixed_elem, .chrome .fixed_always {
    transform: translatez(0)
    }
.tinyHeight .chrome .fixed_elem {
    transform: none
    }
.fullScreen {
    height: 100%;
    width: 100%
    }
._li._li._li {
    overflow: initial
    }
._910i._li._li._li {
    overflow: hidden
    }
._9053 ._li._li._li {
    overflow-x: hidden
    }
._72b0 {
    position: relative;
    z-index: 0
    }
.registration ._li._9bpz {
    background-color: #f0f2f5
    }
._li ._9bp- {
    padding-top: 5px;
    text-align: center
    }
._li ._9bp- .fb_logo {
    height: 100px
    }
._li ._a66f {
    padding-top: 5px;
    text-align: center
    }
._li ._a66f .fb_logo {
    height: 80px;
    padding-top: 72px
    }
._52ju {
    text-align: left
    }
._52jv {
    text-align: center
    }
._52jw {
    text-align: right
    }
._53ij {
    background: #fff;
    position: relative
    }
._53io {
    overflow: hidden;
    position: absolute
    }
._53ih ._53io {
    display: none
    }
._2agf {
    word-wrap: normal
    }
._2agf._4o_4 {
    display: inline-flex
    }
._55pe {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap
    }
._5f0v {
    outline: none
    }
._3oxt {
    outline: 1px dotted #3b5998;
    outline-color: invert
    }
i.img {
    -ms-high-contrast-adjust: none
    }
i.img u {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    left: auto;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
    }
.lfloat {
    float: left
    }
.rfloat {
    float: right
    }
.uiLayer {
    outline: none
    }
.uiContextualLayerPositioner {
    height: 0;
    position: absolute;
    z-index: 202
    }
.uiContextualLayer {
    position: absolute
    }
div.uiContextualLayerPositionerFixed {
    position: fixed
    }
.uiContextualLayerParent {
    position: relative
    }
.openToggler {
    z-index: 100
    }
.uiToggleFlyout, .toggleTargetClosed, .openToggler .uiToggleFlyout .uiToggleFlyout {
    display: none
    }
.openToggler .uiToggleFlyout, .openToggler .uiToggleFlyout .openToggler .uiToggleFlyout {
    display: block
    }
.hideToggler {
    border: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 0
    }
._6a {
    display: inline-block
    }
._6d {
    vertical-align: bottom
    }
._6b {
    vertical-align: middle
    }
._6e {
    vertical-align: top
    }
._5u5j {
    width: 100%
    }
._5aj7 {
    display: flex
    }
._5aj7 ._4bl7 {
    float: none
    }
._5aj7 ._4bl9 {
    flex: 1 0 0
    }
._ikh ._4bl7 {
    float: left;
    min-height: 1px
    }
._4bl7, ._4bl9 {
    word-wrap: break-word
    }
._4bl9 {
    overflow: hidden
    }
._ohe {
    float: left
    }
._ohf {
    float: right
    }
@keyframes CSSFade_show {
    0% {
        opacity: 0
        } 100% {
        opacity: 1
        }
    }
@keyframes CSSFade_hide {
    0% {
        opacity: 1
        } 100% {
        opacity: 0
        }
    }
._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap
    }
._42ft::-moz-focus-inner {
    border: 0;
    padding: 0
    }
.gecko ._42ft:focus {
    outline: 1px dotted #3b5998;
    outline-color: invert
    }
._42ft:hover {
    text-decoration: none
    }
._42ft + ._42ft {
    margin-left: 4px
    }
._42fr, ._42fs {
    cursor: default
    }
._50f3 {
    font-size: 12px;
    line-height: 16px
    }
._50f4 {
    font-size: 14px;
    line-height: 18px
    }
._50f5 {
    font-size: 16px;
    line-height: 20px
    }
._50f6 {
    font-size: 18px;
    line-height: 22px
    }
._2iei {
    font-size: 40px;
    line-height: 48px
    }
._2iej {
    font-size: 24px;
    line-height: 28px
    }
._2iek {
    font-size: 20px;
    line-height: 24px
    }
._2iel {
    font-size: 16px;
    line-height: 20px
    }
._2iem {
    font-size: 14px;
    line-height: 18px
    }
._2ien {
    font-size: 14px;
    line-height: 18px
    }
._2ieo {
    font-size: 13px;
    line-height: 17px
    }
._2iep {
    font-size: 12px;
    line-height: 16px
    }
._2ieq {
    font-size: 12px;
    line-height: 16px
    }
._50f7 {
    font-weight: 600
    }
._5kx5 {
    font-weight: normal
    }
._50f8 {
    color: #90949c
    }
._c24 {
    color: #4b4f56
    }
._50f9 {
    color: #1d2129
    }
._2iev {
    color: #1c1e21
    }
._2iex {
    color: #606770
    }
._2iey {
    color: #bec3c9
    }
._rzx {
    color: #385898
    }
._rzy {
    color: #8d949e
    }
._2ier {
    color: #fff
    }
._1hk0 {
    color: #1877f2
    }
._2iet {
    color: #00a400
    }
._2ieu {
    color: #fa383e
    }
._2iez {
    color: #ccc
    }
._2ie- {
    color: #4a4a4a
    }
._2ie_ {
    color: #373737
    }
#facebook ._5s6c._5s6c, ._5s6c {
    font-family: Georgia, serif;
    letter-spacing: normal
    }
#facebook ._6mv-._6mv-, ._6mv- {
    font-family: "Open Dyslexic";
    letter-spacing: normal
    }
.CometSettingsPage ._2iep, .CometSettingsPage ._2ieq, .CometSettingsPage ._50f4 {
    font-size: 15px;
    line-height: 20px
    }
.CometSettingsPage ._50f4 {
    font-weight: 500
    }
._4qba {
    font-style: inherit
    }
._4qbb, ._4qbc, ._4qbd {
    background: none;
    font-style: inherit;
    padding: 0;
    width: auto
    }
._4qbd {
    border-bottom: 1px solid #f99
    }
._4qbb, ._4qbc {
    border-bottom: 1px solid #999
    }
._4qbb:hover, ._4qbc:hover, ._4qbd:hover {
    background-color: #fcc;
    border-top: 1px solid #ccc;
    cursor: help
    }
._4jnw {
    margin: 0
    }
._3-8h {
    margin: 4px
    }
._3-8i {
    margin: 8px
    }
._3-8j {
    margin: 12px
    }
._3-8k {
    margin: 16px
    }
._3-8l {
    margin: 20px
    }
._2-5b {
    margin: 24px
    }
._1kbd {
    margin-bottom: 0;
    margin-top: 0
    }
._3-8m {
    margin-bottom: 4px;
    margin-top: 4px
    }
._3-8n {
    margin-bottom: 8px;
    margin-top: 8px
    }
._3-8o {
    margin-bottom: 12px;
    margin-top: 12px
    }
._3-8p {
    margin-bottom: 16px;
    margin-top: 16px
    }
._3-8q {
    margin-bottom: 20px;
    margin-top: 20px
    }
._2-ox {
    margin-bottom: 24px;
    margin-top: 24px
    }
._1a4i {
    margin-left: 0;
    margin-right: 0
    }
._3-8r {
    margin-left: 4px;
    margin-right: 4px
    }
._3-8s {
    margin-left: 8px;
    margin-right: 8px
    }
._3-8t {
    margin-left: 12px;
    margin-right: 12px
    }
._3-8u {
    margin-left: 16px;
    margin-right: 16px
    }
._3-8v {
    margin-left: 20px;
    margin-right: 20px
    }
._6bu9 {
    margin-left: 24px;
    margin-right: 24px
    }
._5soe {
    margin-top: 0
    }
._3-8w {
    margin-top: 4px
    }
._3-8x {
    margin-top: 8px
    }
._3-8y {
    margin-top: 12px
    }
._3-8z {
    margin-top: 16px
    }
._3-8- {
    margin-top: 20px
    }
._4aws {
    margin-top: 24px
    }
._2-jz {
    margin-right: 0
    }
._3-8_ {
    margin-right: 4px
    }
._3-90 {
    margin-right: 8px
    }
._3-91 {
    margin-right: 12px
    }
._3-92 {
    margin-right: 16px
    }
._3-93 {
    margin-right: 20px
    }
._y8t {
    margin-right: 24px
    }
._5emk {
    margin-bottom: 0
    }
._3-94 {
    margin-bottom: 4px
    }
._3-95 {
    margin-bottom: 8px
    }
._3-96 {
    margin-bottom: 12px
    }
._3-97 {
    margin-bottom: 16px
    }
._3-98 {
    margin-bottom: 20px
    }
._20nr {
    margin-bottom: 24px
    }
._av_ {
    margin-left: 0
    }
._3-99 {
    margin-left: 4px
    }
._3-9a {
    margin-left: 8px
    }
._3-9b {
    margin-left: 12px
    }
._3-9c {
    margin-left: 16px
    }
._3-9d {
    margin-left: 20px
    }
._4m0t {
    margin-left: 24px
    }
._a82f {
    margin-left: 28px
    }
/*FB_PKG_DELIM*/
#bootloader_x780uDG {
    height: 42px
    }
.bootloader_x780uDG {
    display: block !important
    }